body {
  background-image: url('zeynep site walpaper.jpeg'); /* arka plan resmi */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
}
h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}
h2 {
  margin-top: 30px;
}
img {
  display: block;
  margin: 10px auto;
  border-radius: 50%;
  box-shadow: 0 0 15px #fff;
}
button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  background-color: #ff69b4;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ff1493;
}
